# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Allow local testing of this library
generated
swagger.yaml

vendor
Dockerfile
.dockerignore
